@model distribution_copy.Models.TraceInputModel

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}
<style>
    .sizeNormal {
        font-size: 16px;
    }

    .borderRadius {
        border-radius: 10px;
    }

    .width {
        width: 250px;
    }

    #load {
        /*border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;*/
        position: sticky;
        z-index: 3;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    }

    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
    }
</style>
<script>
        $(document).ready(function () {
    $.ajax({
    type: 'get',
    dataType: 'json',
    url: '@Url.Action("AccountList", "Account")',
    success: function (data) {
    var s = '<option value="0">--Choose Organisation--</option>';
    $("#org").empty();
    for (var i = 0; i < data.length; i++) {
    s += '<option value="' + data[i].accountName + '">' + data[i].accountName + '</option>';
    }
    $("#org").append(s);
    }
    });
        });
    var i = 0;
        var t;

    function populateProjects() {
          document.getElementById("overlay").style.display = "block";
        var o = document.getElementById("org");
        var ORG = o.options[o.selectedIndex].text;
               document.getElementById("table").hidden = true;
            document.getElementById("Count").hidden = true;
         document.getElementById("WorkItemType").innerHTML = "<option value='0' >--Empty--</option>";
        document.getElementById("ProjectName").innerHTML = "<option value='0' >Loading Projects...</option>";
        document.getElementById('exc').disabled = true;
        if (ORG == "--Choose Organisation--") {
            document.getElementById("overlay").style.display = "none";
        document.getElementById("ProjectName").innerHTML = "<option value='0' >--Empty--</option>";
            document.getElementById('exc').disabled = true;

            return;
        }
        document.getElementById('load').hidden = false;
                var inp = new Object();
        inp.OrganizationName = o.options[o.selectedIndex].text;


                $.ajax({
            type: "POST",
            url: '@Url.Action("ProjectList", "Account")',
            data: { ORG },

            success:
                function(data) {
                    console.log(data);
                    document.getElementById("ProjectName").innerHTML = "<option value='0'>--Choose Project--</option>";
                    for (let i = 0; i < data.length; i++) {
                        document.getElementById("ProjectName").innerHTML += "<option value='" + data[i].Name + "'>" + data[i].Name + "</option>";
                    }
        document.getElementById('load').hidden = true;
                      document.getElementById("overlay").style.display = "none";
                }
            ,
            failure:
                function() { alert("Something went wrong, Please try Again"); }

        });



    }

    function populateAll() {
          document.getElementById("overlay").style.display = "block";

        document.getElementById('load').hidden = false;
        document.getElementById('table').hidden = true;
        document.getElementById('Count').hidden = true;

        var o = document.getElementById("org");
        var inp = new Object();
        inp.OrganizationName = o.options[o.selectedIndex].text;

        if (inp.OrganizationName == "--Choose Organisation--") {
            document.getElementById('exc').disabled = true;
            return;
        }
        var p = document.getElementById("ProjectName");
        inp.ProjectName = p.options[p.selectedIndex].text;
        if (inp.ProjectName == "--Choose Project--") {
            document.getElementById('load').hidden = true;
          document.getElementById("overlay").style.display = "none";
         document.getElementById("WorkItemType").innerHTML = "<option value='0' >--Empty--</option>";
            document.getElementById('exc').disabled = true;


            return;
        }
        else {

        }
         document.getElementById("WorkItemType").innerHTML = "<option value='0' >Loading Types...</option>";
          $.ajax({
            type: "POST",
            url: '@Url.Action("WITypes", "Trace")',
            data: { inp },

            success:
                function(data) {
                    console.log(data);
                      document.getElementById("WorkItemType").innerHTML = "<option value='0' >--Choose WorkItem Type--</option>";
                    for (let i = 0; i < data.length; i++) {
                        document.getElementById("WorkItemType").innerHTML += "<option value='" + data[i] + "'>" + data[i] + "</option>";
                    }
                document.getElementById('load').hidden = true;
                document.getElementById("overlay").style.display = "none";
                },
           failure:
                function() { alert("Something went wrong"); }

        });

    }
    var table;
    function filter() {
          document.getElementById("overlay").style.display = "block";

        document.getElementById('load').hidden = false;
        //document.getElementById('Count').hidden = true;
        //document.getElementById('table').hidden = true;

        var o = document.getElementById("org");
        var p = document.getElementById("ProjectName");

        var w = document.getElementById("WorkItemType");
        var inp = new Object();
        if (o.options[o.selectedIndex].value == "0") {
            //inp.OrganizationName = null;
            o.focus();
            return;
        }
        else
            inp.OrganizationName = o.options[o.selectedIndex].text;

        if (p.options[p.selectedIndex].value == "0") {
            //inp.ProjectName = null;
            p.focus();
            return;

        }
        else
            inp.ProjectName = p.options[p.selectedIndex].text;

        if (w.options[w.selectedIndex].value == "0") {
        document.getElementById('load').hidden = true;
            document.getElementById('table').hidden = true;
            document.getElementById("Count").hidden = true;
          document.getElementById("overlay").style.display = "none";

            document.getElementById('exc').disabled = true;

            w.focus();
            return;
            //inp.WorkItemType = null;
        }
        else
            inp.WorkItemType = w.options[w.selectedIndex].text;




        console.log(inp);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Filter", "Trace")',
            data: { 'inp':  inp , 'loc': 0 },
            success:
                function (data) {
                    console.log(data);
                    var table = document.getElementById("table");
                    //document.getElementById("exc").disabled = false;

                    data = JSON.parse(data);
                    console.log(data);


                    if (i > 0) {
                          $('#dataTable').DataTable().destroy();
                           document.getElementById("table").innerHTML = "";
                    }
                    var tabledata;
                    var icon = "";

                    if (data.length > 0) {
                        tabledata = "<table id='dataTable' class='table' ><thead> <tr><th><img src='../Content/Icons/structure.png' /></th><th>Id</th><th>Title</th><th>Sprint</th><th>State</th><th>Type</th><th></th></tr></thead><tbody class='text-dark'>";
                        for (let i = 0; i < data.length; i++) {
                              if (data[i]["fields"]["System.WorkItemType"] == 'Feature') {
                icon = "<img src='../Content/Icons/feature.png' ";
            }
            else if (data[i]["fields"]["System.WorkItemType"] == 'Task') {
                icon = "<img src='../Content/Icons/task.png' />";
            }
            else if (data[i]["fields"]["System.WorkItemType"] == 'Bug') {
                                  icon = "<img src='../Content/Icons/bug.png' />";

            }
            else if (data[i]["fields"]["System.WorkItemType"] == 'Epic') {
                icon = "<img src='../Content/Icons/epic.png'/>";
            }
            else if (data[i]["fields"]["System.WorkItemType"] == 'Product Backlog Item') {
                icon = "<img src='../Content/Icons/pbi.png' />";
            }
            else if (data[i]["fields"]["System.WorkItemType"] == 'User Story') {
                icon = "<img src='../Content/Icons/us.png' />";
            }
            else {
                icon = '#';
            }
                            tabledata += "<tr style='background-color:lightgrey' class='details-control'><td>"+icon+"</td><td style=''>" + data[i].id + "</td><td><a href='https://dev.azure.com/" + inp.OrganizationName + "/" + data[i]["fields"]["System.TeamProject"] + "/_workitems/edit/" + data[i].id + "' target='_blank' class='text-dark'>" + data[i]["fields"]["System.Title"] + "</a></td><td>" + data[i]["fields"]["System.IterationPath"] + "</td><td>" + data[i]["fields"]["System.State"] + "</td><td>" + data[i]["fields"]["System.WorkItemType"] + "</td><td class='details-control' style='vertical-align:top'></td></tr>";
                        }
                        document.getElementById("Count").innerHTML = " Count = " + data.length;
                        tabledata += "</tbody></table>";
                        table.innerHTML = tabledata;
                        table = $('#dataTable').DataTable();
                        $('#dataTable tbody').on('click', 'tr.details-control', function ()
                        {
                         var tr = $(this).closest('tr');
                         var row = table.row(tr);
                            if ( row.child.isShown() ) {
                                // This row is already open - close it
                                $('div.slider', row.child()).slideUp(function () {
                                    row.child.hide();
                                    tr.removeClass('shown');
                                });


                                }
                            else {
                                var a = $(".shown");
                                console.log(a);
                                for (var n = 0; n < a.length; n++) {
                                    console.log(a[n]);
                                    var hiderow = table.row(a[n]);
                                    $('div.slider', hiderow.child()).slideUp(function () {
                                    hiderow.child.hide();
                                    });
                                    a[n].classList.remove("shown");


                                    //a[n].nextSibling.innerHTML = '';

                                }
                                row.child(format(row.data(), 5) + '</table></div>').show();

                                tr.addClass('shown');
                                $('div.slider', row.child()).slideDown('1000');

                              }

                              s =  '<div class="slider"><table id="childTable" style="width:100" class="dataTable table bg-dark table-dark">';

                              j = 0;
    });

                        $('#dataTable').addClass('table table-dark table-borderless');
                        $('#dataTable.thead').addClass('text-light');
                        $('div.thead').addClass('text-light');
                        $(".current").addClass("bg-primary");
                    }
                    else{
                        tabledata = "<table id='dataTable'><thead class='borderRadius'> <tr><th></th><th>Id</th><th>Title</th><th>Sprint</th><th>State</th><th>Type</th></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody><table>";
                        table.innerHTML = tabledata;
                        $('#dataTable').DataTable();
                        $('#dataTable').addClass('table table-dark ');
                        $('#dataTable.thead').addClass('text-light');
                        $('div.thead').addClass('text-light');

                    }
                    document.getElementById("Count").innerHTML = " Count : " + data.length;
                    i++;
                    document.getElementById("table").hidden = false;
                    document.getElementById("Count").hidden = false;

        document.getElementById('load').hidden = true;
                    document.getElementById("overlay").style.display = "none";
                    document.getElementById("exc").disabled = false;

                }
            ,
            failure:
                function () {
                    alert("Something went wrong");
                }
        });


    }

</script>
<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active">Trace   </li>
        </ul>
    </div>
</div>
<form action="~/Trace/TraceExport">
    <div id="overlay"></div>
    <div class="form-row ml-2">
        <div class="col-xs-4">

            @Html.Label("Organization", htmlAttributes: new { @class = "control-label display-4  sizeNormal", style = "padding-right:40px" })

            @Html.DropDownListFor(model => model.OrgName, new SelectList(new[] { "Empty List" }), htmlAttributes: new { @class = "form-control borderRadius width", id = "org", onchange = "populateProjects()", style = "opacity:0.8;" })

            @Html.ValidationMessageFor(model => model.OrgName, "", new { @class = "text-danger" })

        </div>

        <div class="col-xs-4 ml-5">

            @Html.Label("Project Name ", htmlAttributes: new { @class = "control-label  display-4 sizeNormal", style = "padding-right:35px" })

            @Html.DropDownListFor(model => model.ProjectName, new SelectList(new[] { "Empty List" }), htmlAttributes: new { @class = "form-control borderRadius width", id = "ProjectName", onchange = "populateAll()", style = "opacity:0.8" })

            @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })

        </div>

        <div class="ml-5">

            @Html.Label("Work Item Type", htmlAttributes: new { @class = "control-label  display-4 sizeNormal", style = "padding-right:21px" })

            @Html.DropDownListFor(model => model.WIType, new SelectList(new[] { "Empty List" }), htmlAttributes: new { @class = "form-control borderRadius width", id = "WorkItemType", onchange = "filter()", style = "opacity:0.8" })

            @Html.ValidationMessageFor(model => model.WIType, "", new { @class = "text-danger" })

        </div>

        <div class="mt-30px">
            <button id="exc" type="submit" class="btn btn-success ml-5" disabled>Export</button>
        </div>



    </div>
</form>
<img id="load" style="margin-left: 42%; margin-top: 5%;" height="100" width="100" src="../content/images/loadinggif.gif" hidden />


<div><p id="Count" class="display-4" style="font-size:15px"></p></div>

<div id="table">


</div>
<style>
    td.details-control {
        background: url('../../Content/Images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../../Content/Images/details_close.png') no-repeat center center;
    }

    input[type=search] {
        width: 220px;
        height: 30px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        margin-right: 20px;
    }

    select[name=dataTable_length] {
        width: 70px;
        height: 30px;
        padding: 6px 12px;
        font-size: 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 6px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }

    td[colspan='7'] {
        background-color: lightgrey;
    }
</style>
<script>

        var s = '<div class="slider"><table id="childTable"  style="width:100" class="dataTable table bg-dark table-dark" >';
   var j = 0;
    function format(d,margin) {

        let id = d[1];

     @*var data= $.parseJSON($.ajax({
            type: "POST",
            url: '@Url.Action("Relation", "Trace")',
            data: {id}

     }).responseText);*@
        var data = $.parseJSON($.ajax({
            type: 'GET',
            url: '@Url.Action("Relation", "Trace")',
            data: { id },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false
        }).responseText);

        console.log(data);

        if (data == null || (data.Forward.length == 0 && j == 0)) {
        document.getElementById('load').hidden = true;

            return s+'<tr style="background-color:#ffb3b3"><td style="padding-left:42%" class="text-dark">No Child relation for this Work item</td></tr>';
        } else if (data == null || (data.Forward.length == 0)) {
        document.getElementById('load').hidden = true;

            return null;
        }
        j++;
        console.log(data);
        var o = document.getElementById("org");
        OrganizationName = o.options[o.selectedIndex].text;
        var col = "";
        var bugBtn = "";
        var ico = "";
        for (let i = 0; i < data.Forward.length; i++) {
            if (data.Forward[i].fields.WorkItemType == 'Feature') {
                ico = "<img src='../Content/Icons/feature.png' style='padding-left:" + margin + "px'/>";
            }
            else if (data.Forward[i].fields.WorkItemType == 'Task') {
                ico = "<img src='../Content/Icons/task.png' style='padding-left:" + margin + "px'/>";
            }
            else if (data.Forward[i].fields.WorkItemType == 'Bug') {

                bugBtn="<td onclick='showCommits(this)'>Show Commits</td>"
                ico = "<img src='../Content/Icons/bug.png' style='padding-left:" + margin + "px'/>";
            }
            else if (data.Forward[i].fields.WorkItemType == 'Epic') {
                ico = "<img src='../Content/Icons/epic.png' style='padding-left:" + margin + "px'/>";
            }
            else if (data.Forward[i].fields.WorkItemType == 'Product Backlog Item') {
                ico = "<img src='../Content/Icons/pbi.png' style='padding-left:" + margin + "px'/>";
            }
            else if (data.Forward[i].fields.WorkItemType == 'User Story') {
                ico = "<img src='../Content/Icons/us.png' style='padding-left:" + margin + "px'/>";
            }
            else {
                ico = '#';
            }
            s += "<tr class='bg-dark'><td style='width:4%'>" + ico + "</td><td style='width:5%;padding-left:40px' class='Id'>" + data.Forward[i].id + "</td><td style=''  ><a href='https://dev.azure.com/" + OrganizationName + "/" + data.Forward[i].fields.TeamProject + "/_workitems/edit/" + data.Forward[i].id + "' target='_blank' class='text-light'>" + data.Forward[i].fields.Title + "</a></td><td style=''>" + data.Forward[i].fields.IterationPath + "</td><td style=''>" + data.Forward[i].fields.State + "</td><td style=';vertical-align:top'>" + data.Forward[i].fields.WorkItemType + "</td>" + bugBtn + "</tr>";
            if (data.Forward[i].relations != null) {
                var p = [0,data.Forward[i].id];

                format(p,margin+15);
                //for (var j = 0; j < data.Forward[i].relations.length; j++) {

                //    if (data.Forward[i].relations[0].rel == "System.LinkTypes.Hierarchy-Forward") {
                //        var valueArray = data.Forward[i].relations[0].url.split('/');
                //        let relid = valueArray[8];
                //        var p = [0, relid];
                //        format(p);
                //    }

                }
            }

            //for (let i = 0; i < data.Reverse.length; i++) {
            //     s += "<tr style='background-color:powderblue'><td></td><td style=''>" + data.Reverse[i].id + "</td><td><a href='https://dev.azure.com/" + OrganizationName + "/" + data.Reverse[i].fields.TeamProject+ "/_workitems/edit/" + data.Reverse[i].id + "' target='_blank'>" + data.Reverse[i].fields.Title+ "</a></td><td>" + data.Reverse[i].fields.TeamProject + "</td><td>" + data.Reverse[i].fields.IterationPath+ "</td><td>" + data.Reverse[i].fields.State + "</td><td>" + data.Reverse[i].fields.WorkItemType + "</td></tr>";
            //}
            return s;

            //console.log(data);
            //return data;
            //// `d` is the original data object for the row

    }


    function showCommits(a) {

             var Id = $(a).closest('tr').find('.Id').text();
        var row = $(a).closest('tr');
        var inp = getInp();
       $.ajax({
            type: "POST",
           url: '@Url.Action("CommitList", "Account")',
           data: { 'inp':  inp , 'Id': Id },

            success:
                function (data) {
                    console.log(data);
                    var tabData="<table>"
                    for (let i = 0; i < data.length; i++) {
                        tabData += "<tr><td>" + data[i]["revisedBy"]["displayName"]+"</td></tr>";
                    }
                    tabData += "</table>";

                    //a.insertBefore(tabData, a.childNodes[0]);
                    a.childNodes[0].innerHTML = tabData;

                }
            ,
            failure:
                function() { alert("Something went wrong, Please try Again"); }

        });


    }

    function getInp() {
        var inp = new Object();
        inp.OrganizationName = $('#org').val();
        inp.ProjectName = $('#ProjectName').val();
        inp.WorkItemType = $('#WorkItemType').val();
        return inp;
    }
</script>
<style>
    div.slider {
        display: none;
    }
</style>