@model distribution_copy.Models.InputModel
@{
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
@*<div align="center">
        <label for="orgsDropdown" style="margin-top:50px;"><b>Organisations</b></label>
        <select class="form-control" id="org" name="departmentsDropdown"></select>
    </div>*@

<div class="col-md-5" style="margin-left:30px">
    <label for="orgsDropdown" style="margin-top:30px;"><b>Organisations</b></label>
    <select class="form-control" id="org" name="departmentsDropdown"></select>
    <label id="NoOrg" class="text-danger">!!!!Please Select Organisation</label>
</div>

<div align="center" style="margin-top:10px">
    <img src="~/Content/Images/loadinggif.gif" id="Load" width="150" height="150" />
</div>
<div id="OrgChange" style="margin-left:30px">
    <div id="OrgCount">
        <div class="row" style="font-size:medium;margin-left:30px">
            <div class="col-4"><p id="Project"></p> </div>
            <div class=" col-4"><p id="BuildDef"></p></div>
            <div class="col-4"><p id="ReleaseDef"></p></div>
        </div>
        <div class="row" style="font-size:medium;margin-left:30px">

            <div class="col-4"><p id="Process"></p> </div>
            <div class="col-4"><p id="Repos"></p> </div>
            <div class="col-4"><p id="Users"></p> </div>
        </div>
        <div class="row" style="font-size:medium;margin-left:30px">
            <div class="col-4"><p id="WIcount" class="Wi"></p> </div>

        </div>
    </div>
</div>
<div class="row ">
    <div class="col-4" style="margin-left:50px" id="WItypeDrop">
        @*@Html.Label("WorkItem Type", htmlAttributes: new { @class = "", style = "padding-right:21px" })*@

        <label style="margin-top:20px;" class="WorkItemType"><b>WorkItem Type</b></label>
        @Html.DropDownListFor(model => model.WorkItemType, new SelectList(new[] { "--Workitem Types--" }), htmlAttributes: new { @class = "form-control WorkItemType", id = "WorkItemType", style = "opacity:0.8" })

        @Html.ValidationMessageFor(model => model.WorkItemType, "", new { @class = "text-danger" })
        <label id="WItypeErr" class="text-danger "> </label>
    </div>
    <div class="col-4" style="font-size:large;margin-top:50px"><p id="WIcountByType"></p></div>
</div>
<div style="margin-top:10px;">
    <div class="col-md-5" style="margin-left:40px">
        <div id="projDrop " class="WorkItemType">
            <label style="margin-top:20px;" class=""><b>Projects</b></label>
            <select class="form-control " id="projectDrop" name="departmentsDropdown"></select>
        </div>
    </div>
    <div align="center">
        <p id="noProj"></p>
    </div>
    <div id="ProjCounts" class="" style="margin-top:20px;margin-left:35px; font-size:large;">
        <div class="row" style="margin-left:30px">
            <div class="col-4"><p id="PBuildDef"></p></div>
            <div class="col-4"><p id="PReleaseDef"></p></div>
            <div class="col-4"><p id="PUser"></p></div>
        </div>
        <div class="row"style="margin-left:30px">
            <div class="col-4"><p id="PRepo"></p></div>
            <div class="col-4"><p id="PWorkItem"class="WI"></p></div>
        </div>
    </div>
</div>
<script>
    //Ajax Call to fetch Organization
    $(document).ready(function () {
        $("#NoOrg").hide();
        $('#Load').hide();
        $('#WItypeErr').hide();
        $('.WorkItemType').hide();
        var Org = $('#org').val();

        var ProjWICount;
        var selestedProj;
        var WIType

        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '@Url.Action("AccountList","Account")',
            success: function (data) {

                var s = '<option value="0">--Choose Organisation--</option>';
                $("#org").empty();
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].accountName + '">' + data[i].accountName + '</option>';
                }
                $("#org").append(s);
            }
        });

        function GetReport(data) {

                        $("#OrgChange").show();
                        $('#Load').hide();
                        $("#BuildDef").html("Build Definitions  : " + data.counts.buildDefCount);
                        $("#ReleaseDef").html("Release Definitions  : " + data.counts.releaseDefCount);
                        $("#Process").html("Process Templates : " + data.counts.processCount);
                        $("#Project").html("Projects : " + data.Count);
                        $("#Users").html("Users : " + data.counts.UserCount);
                        $("#Repos").html("Repositories : " + data.counts.repoCount);
                        $("#WIcount").html("WorkItems : " + data.counts.WIcountOrg);
                        $(".WorkItemType").show();

                        var s = '<option value="0">--Choose Project--</option>';
                        $("#projectDrop").empty();
                        for (var i = 0; i < data.Value.length; i++) {
                            s += '<option value="' + data.Value[i].Name + '">' + data.Value[i].Name + '</option>';
                        }
                        $("#projectDrop").append(s);
                        WIType=$('#WorkItemType').val()
                        //$('#ReleaseDef').append(data.counts.releaseDefCount);
                        $('#projectDrop').change(function () {
                            selestedProj = $('#projectDrop').val();
                            for (var i = 0; i < data.Value.length; i++) {
                                if (data.Value[i].Name == selestedProj) {
                                    $("#noProj").hide();
                                    $("#ProjCounts").show();
                                    $("#PBuildDef").html("Build Definitions : " + data.Value[i].counts.buildDefCount);
                                    $("#PReleaseDef").html("Release Definitions : " + data.Value[i].counts.releaseDefCount);
                                    $("#PUser").html("Users : " + data.Value[i].counts.UserCount);
                                    $("#PRepo").html("Repositories : " + data.Value[i].counts.repoCount);
                                    if ($('#WorkItemType') != "0")
                                        $("#PWorkItem").html(WIType + "s : " + ProjWICount);
                                    else
                                        $("#PWorkItem").hide();

                                }
                                else if (selestedProj == "0") {
                                    $("#ProjCounts").hide();
                                    /*$("#PBuildDef").hide();*/
                                    $("#noProj").show();
                                    $("#noProj").html("Project Not Selected");
                                }
                            }
                });

        }


        //$('#org').change(function () {


            $('#org').change(function () {

                $('#Load').show();
                $('#OrgChange').hide();
                $("#ProjCounts").hide();
                $('.WorkItemType').hide();
                Org = $('#org').val();
                if (Org == "0") {
                    $("#NoOrg").show();
                    $("#noProj").hide();
                    $("#WItypeErr").hide();
                    $('#Load').hide();
                }


                $.ajax({

                    type: 'get',
                    dataType: 'json',
                    data: { 'organisation': Org },
                    url: '@Url.Action("report","OrgReports")',
                    success: function (data) {

                        GetReport(data);

                    },
                    failure: function (data) {
                        if (data == null) {

                            alert("Please Select Any Organnisation");
                        }
                    }
                });

                //Fetching the Dropdown workitem types
                var inp = new Object();
                inp.OrganizationName = Org;
                if (inp.OrganizationName != null) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("WITypes", "Account")',
                        data: { inp },

                        success:
                            function (data) {
                                console.log(data);
                                document.getElementById("WorkItemType").innerHTML = "<option value='0' >--Select Workitem Type--</option>";
                                for (let i = 0; i < data.length; i++) {
                                    document.getElementById("WorkItemType").innerHTML += "<option value='" + data[i] + "'>" + data[i] + "</option>";
                                }

                            },
                        failure:
                            function () { alert("Something went wrong"); }

                    });
                }
                else {
                    return;
                }

            })
            //Sending type value to controller
            $('.WorkItemType').change(function () {
             Org = $('#org').val();
             WIType = $('#WorkItemType').val();

                //console.log(WIType);
                //console.log(Org);
                if (WIType == "0") {
                             $("#WIcountByType").hide();
                            $("#WItypeErr").show();
                            $("#WItypeErr").html("!!!!please select any workitem type");
                    $("#PWorkItem").hide();
                    return;
                        }
                $.ajax({
                    type: 'Post',
                    dataType: 'json',
                    data: { 'organisation': Org, 'workitemtype': WIType, 'projectName': selestedProj },
                    url: '@Url.Action("report","OrgReports")',
                    success: function (data) {
                        if (WIType == "0") {
                             $("#WIcountByType").hide();
                            $("#WItypeErr").show();
                            $("#WItypeErr").html("!!!!please select any workitem type");
                            $("#PWorkItem").hide();

                        }
                        else {
                            $("#WIcountByType").show();
                            $("#WItypeErr").hide();
                            ProjWICount = data.counts.ProjWIcountByType;
                            $("#WIcountByType").html(WIType + "s : " + data.counts.WIcountType);
                            if (selestedProj != "0") {
                                $("#PWorkItem").show();
                                $("#PWorkItem").html(WIType + "s : " + data.counts.ProjWIcountByType);

                            }

                        }

                    }
                });
            })


        })



</script>



