@model distribution_copy.Models.InputModel
@{
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
@*<div align="center">
        <label for="orgsDropdown" style="margin-top:50px;"><b>Organisations</b></label>
        <select class="form-control" id="org" name="departmentsDropdown"></select>
    </div>*@
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
            <label for="orgsDropdown" style="margin-top:50px;"><b>Organisations</b></label>
            <select class="form-control" id="org" name="departmentsDropdown"></select>
        </div>
        <div class="col-md-4">
            @Html.Label("WorkItem Type", htmlAttributes: new { @class = "control-label", style = "padding-right:21px" })

            @Html.DropDownListFor(model => model.WorkItemType, new SelectList(new[] { "Empty List" }), htmlAttributes: new { @class = "form-control borderRadius width", id = "WorkItemType", style = "opacity:0.8" })

            @Html.ValidationMessageFor(model => model.WorkItemType, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            <div id="projDrop">
                <label style="margin-top:50px;"><b>Projects</b></label>
                <select class="form-control" id="projectDrop" name="departmentsDropdown"></select>
            </div>
        </div>

    </div>
</div>
<div align="center" style="vertical-align:middle;">
    <br />
    <br />
    <img src="~/Content/Images/loadinggif.gif" id="Load" width="150" height="150" />
</div>
<div id="OrgChange">
    <div id="OrgCount">
        <div class="row" style="margin-left:auto;">
            <div class="col-4"><p id="Project"></p> </div>
            <div class=" col-4"><p id="BuildDef"></p></div>
            <div class="col-4"><p id="ReleaseDef"></p></div>
            <div class="col-4"><p id="Process"></p> </div>
            <div class="col-4"><p id="Repos"></p> </div>
            <div class="col-4"><p id="Users"></p> </div>
            <div class="col-4"><p id="WIcount"></p> </div>
            <div class="col-4"><p id="WIcountByType"></p></div>
        </div>
    </div>
    <div align="center">

    </div>
    <div style="margin-top:50px;">
        <div align="center">
            <p id="noProj" class="navbar-brand"></p>
        </div>
        <div class="row" id="ProjCounts" style="margin-left:auto;">
            <div class="col-4"><p id="PBuildDef"></p></div>
            <div class="col-4"><p id="PReleaseDef"></p></div>
        </div>
    </div>
</div>



@*<p id="ReleaseDef"></p>
    <p id="Process"></p>*@


<div style="margin-left:440px">


</div>

<script>
    //Ajax Call to fetch Organization
    $(document).ready(function () {
        $('#projDrop').hide();
        $('#Load').hide();
           var Org = $('#org').val();


        $.ajax({
            type: 'get',
            dataType: 'json',
            url: '@Url.Action("AccountList","Account")',
            success: function (data) {

                var s = '<option value="0">--Choose Organisation--</option>';
                $("#org").empty();
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].accountName + '">' + data[i].accountName + '</option>';
                }
                $("#org").append(s);
            }
        });

        function GetReport(data) {

                        $("#OrgChange").show();
                        $('#Load').hide();
                        $("#BuildDef").html("Build Definition Count : " + data.counts.buildDefCount);
                        $("#ReleaseDef").html("Release Definition Count : " + data.counts.releaseDefCount);
                        $("#Process").html("Process Template Count : " + data.counts.processCount);
                        $("#Project").html("Project Count : " + data.Count);
                        $("#Users").html("Org Level Uesrs Count : " + data.counts.UserCount);
                        $("#Repos").html("Repos Count : " + data.counts.repoCount);
                        $("#WIcount").html("WorkItemsInOrg Count : " + data.counts.WIcountOrg);
                        $("#WIcountByType").html("WorkItemsInType Count : " + data.counts.WIcountType);


                        $("#projDrop").show();
                        var s = '<option value="0">--Choose Project--</option>';
                        $("#projectDrop").empty();
                        for (var i = 0; i < data.Value.length; i++) {
                            s += '<option value="' + data.Value[i].Name + '">' + data.Value[i].Name + '</option>';
                        }
                        $("#projectDrop").append(s);
                        //$('#ReleaseDef').append(data.counts.releaseDefCount);
                        $('#projectDrop').change(function () {
                            var selestedProj = $('#projectDrop').val();
                            for (var i = 0; i < data.Value.length; i++) {
                                if (data.Value[i].Name == selestedProj) {
                                    $("#noProj").hide();
                                    $("#ProjCounts").show();
                                    $("#PBuildDef").html("Build Definition Count : " + data.Value[i].counts.buildDefCount);
                                    $("#PReleaseDef").html("Release Definition Count : " + data.Value[i].counts.releaseDefCount);
                                }
                                else if (selestedProj == "0") {
                                    $("#ProjCounts").hide();
                                    /*$("#PBuildDef").hide();*/
                                    $("#noProj").show();
                                    $("#noProj").html("Project Not Selected");
                                }
                            }
                });

        }


        //$('#org').change(function () {


            $('#org').change(function () {

                $('#Load').show();
                $('#OrgChange').hide();
                $("#ProjCounts").hide();
                var Org = $('#org').val();
                if (Org == "0") {
                    alert("Please Select Organisation");
                    $('#Load').hide();
                }


                $.ajax({

                    type: 'get',
                    dataType: 'json',
                    data: { 'organisation': Org },
                    url: '@Url.Action("report","OrgReports")',
                    success: function (data) {

                        GetReport(data);
                        //For Displaying The Project DropDown
                        //$("#OrgChange").show();
                        //$('#Load').hide();
                        //$("#BuildDef").html("Build Definition Count : " + data.counts.buildDefCount);
                        //$("#ReleaseDef").html("Release Definition Count : " + data.counts.releaseDefCount);
                        //$("#Process").html("Process Template Count : " + data.counts.processCount);
                        //$("#Project").html("Project Count : " + data.Count);
                        //$("#Users").html("Org Level Uesrs Count : " + data.counts.UserCount);
                        //$("#Repos").html("Repos Count : " + data.counts.repoCount);
                        //$("#WIcount").html("WorkItemsInOrg Count : " + data.counts.WIcountOrg);
                        //$("#WIcountByType").html("WorkItemsInType Count : " + data.counts.WIcountType);


                        //$("#projDrop").show();
                        //var s = '<option value="0">--Choose Project--</option>';
                        //$("#projectDrop").empty();
                        //for (var i = 0; i < data.Value.length; i++) {
                        //    s += '<option value="' + data.Value[i].Name + '">' + data.Value[i].Name + '</option>';
                        //}
                        //$("#projectDrop").append(s);
                        ////$('#ReleaseDef').append(data.counts.releaseDefCount);
                        //$('#projectDrop').change(function () {
                        //    var selestedProj = $('#projectDrop').val();
                        //    for (var i = 0; i < data.Value.length; i++) {
                        //        if (data.Value[i].Name == selestedProj) {
                        //            $("#noProj").hide();
                        //            $("#ProjCounts").show();
                        //            $("#PBuildDef").html("Build Definition Count : " + data.Value[i].counts.buildDefCount);
                        //            $("#PReleaseDef").html("Release Definition Count : " + data.Value[i].counts.releaseDefCount);
                        //        }
                        //        else if (selestedProj == "0") {
                        //            $("#ProjCounts").hide();
                        //            /*$("#PBuildDef").hide();*/
                        //            $("#noProj").show();
                        //            $("#noProj").html("Project Not Selected");
                        //        }
                        //    }

                        //});
                    },
                    failure: function (data) {
                        if (data == null) {

                            alert("Please Select Any Organnisation");
                        }
                    }
                });

                //Fetching the Dropdown workitem types
                var inp = new Object();
                inp.OrganizationName = Org;
                if (inp.OrganizationName != null) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("WITypes", "Account")',
                        data: { inp },

                        success:
                            function (data) {
                                console.log(data);
                                document.getElementById("WorkItemType").innerHTML = "<option value='0' >--ALL--</option>";
                                for (let i = 0; i < data.length; i++) {
                                    document.getElementById("WorkItemType").innerHTML += "<option value='" + data[i] + "'>" + data[i] + "</option>";
                                }

                            },
                        failure:
                            function () { alert("Something went wrong"); }

                    });
                }
                else {
                    return;
                }

            })
            //Sending type value to controller
            $('#WorkItemType').change(function () {
                var Org = $('#org').val();
                var WIType = $('#WorkItemType').val();

                console.log(WIType);
                console.log(Org);

                $.ajax({
                    type: 'Post',
                    dataType: 'json',
                    data: { 'organisation': Org, 'workitemtype': WIType },
                    url: '@Url.Action("report","OrgReports")',
                    success: function (data) {
                                                $("#WIcountByType").html("WorkItemsInType Count : " + data.counts.WIcountType);
                    }
                });
            })


        })



</script>



